@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Añadimos estilos para el panel de navegación */
.navigation {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 10px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.layout {
  display: flex;
}

main {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
}
